<!-- dashboard.component.html -->
<div class="grid grid-cols-3 gap-4 p-4">
    <div class="bg-white text-dark rounded-lg shadow-md p-6 card hover:scale-150">
      <h2 class="text-xl font-bold mb-2">Soil Moisture Sensor</h2>
      <p class="text-center text-3xl" >35%</p>
    </div>
    <div class="bg-white text-dark rounded-lg shadow-md p-6 card hover:scale-150">
      <h2 class="text-xl font-bold mb-2">PH Sensor</h2>
      <p class="text-center text-3xl" >8</p>
    </div>
    <div class="bg-white text-dark rounded-lg shadow-md p-6 card hover:scale-150">
      <h2 class="text-xl font-bold mb-2">Humidity Sensor</h2>
      <p class="text-center text-3xl">45%</p>
    </div>
  </div>