<main class="md:p-6 p-4 bg-white shadow-lg rounded-2xl">
  <section class="w-full mb-4 lg:mb-8">
    <h1 class="text-dark text-2xl md:text-3xl lg:text-4xl font-semibold">
      Electricity Dashboard
    </h1>
    <p
      class="text-gray-dark text-sm md:text-base lg:text-lg mt-2 max-w-lg text-balance"
    >
      Efficiently Track, Manage, and Optimize Electricity Consumption with
      Real-time Data Analytics.
    </p>
  </section>
  <div class="flex items-start justify-center min-h-screen bg-light">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-4">
      <div
        class="p-5 pb-4 mb-4 bg-white rounded-lg shadow-md cursor-pointer hover:bg-primary flex flex-col items-center justify-center"
      >
        <h3 class="text-4xl text-center font-semibold text-dark mb-4">
          Temperature Sensor
        </h3>
        <p class="text-xl text-center text-gray mt-20">Data for Card 1</p>
        <div class="mt-8 h-48 bg-primary"></div>
      </div>
      <div
        class="p-5 pb-4 mb-4 bg-white rounded-lg shadow-md cursor-pointer hover:bg-primary flex flex-col items-center justify-center"
      >
        <h3 class="text-4xl text-center font-semibold text-dark mb-4">
          Light Sensor
        </h3>
        <p class="text-xl text-center text-gray mt-20">Data for Card 2</p>
        <div class="mt-8 h-48 bg-secondary"></div>
      </div>
      <div
        class="p-5 pb-4 mb-4 bg-white rounded-lg shadow-md cursor-pointer hover:bg-primary flex flex-col items-center justify-center"
      >
        <h3 class="text-4xl text-center font-semibold text-dark mb-4">
          Conductivity Sensor
        </h3>
        <p class="text-xl text-center text-gray mt-20">Data for Card 3</p>
        <div class="mt-8 h-48 bg-tertiary"></div>
      </div>
      <div
        class="p-5 pb-4 mb-4 bg-white rounded-lg shadow-md cursor-pointer hover:bg-primary flex flex-col items-center justify-center"
      >
        <h3 class="text-4xl text-center font-semibold text-dark mb-4">
          Battery
        </h3>
        <p class="text-xl text-center text-gray mt-20">Data for Card 4</p>
        <div class="mt-8 h-48 bg-tertiary"></div>
      </div>
    </div>
  </div>
</main>
