<div class="flex items-start justify-center min-h-screen bg-light">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-4">
      <div class="p-5 pb-4 mb-4 bg-white rounded-lg shadow-md cursor-pointer hover:bg-primary flex flex-col items-center justify-center">
        <h3 class="text-4xl text-center font-semibold text-dark mb-4">Temperature Sensor</h3>
        <p class="text-xl text-center text-gray mt-20">Data for Card 1</p>
        <div class="mt-8 h-48 bg-primary"></div>
      </div>
      <div class="p-5 pb-4 mb-4 bg-white rounded-lg shadow-md cursor-pointer hover:bg-primary flex flex-col items-center justify-center">
        <h3 class="text-4xl text-center font-semibold text-dark mb-4">Light Sensor</h3>
        <p class="text-xl text-center text-gray mt-20">Data for Card 2</p>
        <div class="mt-8 h-48 bg-secondary"></div>
      </div>
      <div class="p-5 pb-4 mb-4 bg-white rounded-lg shadow-md cursor-pointer hover:bg-primary flex flex-col items-center justify-center">
        <h3 class="text-4xl text-center font-semibold text-dark mb-4">Conductivity Sensor</h3>
        <p class="text-xl text-center text-gray mt-20">Data for Card 3</p>
        <div class="mt-8 h-48 bg-tertiary"></div>
      </div>
      <div class="p-5 pb-4 mb-4 bg-white rounded-lg shadow-md cursor-pointer hover:bg-primary flex flex-col items-center justify-center">
        <h3 class="text-4xl text-center font-semibold text-dark mb-4">Battery</h3>
        <p class="text-xl text-center text-gray mt-20">Data for Card 4</p>
        <div class="mt-8 h-48 bg-tertiary"></div>
      </div>
    </div>
  </div>