<main class="px-4 pt-4 pb-12 md:px-16 md:pb-20">
  <div
    class="max-w-xl mx-auto rounded-2xl bg-white shadow-lg py-6 px-4 md:py-10 md:px-12 flex flex-col gap-8 md:gap-12"
  >
    <img
      class="w-10 md:w-12"
      src="assets/images/icon.svg"
      alt="CropCare logo"
    />
    <div>
      <h1
        class="text-3xl md:text-4xl lg:text-5xl text-dark font-semibold mb-2 md:mb-4"
      >
        Sign Up
      </h1>
      <p class="md:text-xl text-gray-dark">
        See your growth and manage your farm! <br />
        Already have an account?
        <a
          class="font-semibold text-accent cursor-pointer hover:underline"
          routerLink="/login"
          >Login</a
        >.
      </p>
    </div>

    <div class="flex flex-col md:flex-row gap-4">
      <div class="w-full">
        <p class="md:text-lg text-gray-dark mb-2">
          First Name<span class="text-accent">*</span>
        </p>
        <input
          type="text"
          class="w-full border border-[2px] border-light px-4 py-4 rounded-xl shadow border-gray-dark focus:outline-none focus:border-primary"
          placeholder="Enter your first name"
          required
          (input)="validateName()"
          [formControl]="firstNameControl"
        />
      </div>

      <div class="w-full">
        <p class="md:text-lg text-gray-dark mb-2">
          Last Name<span class="text-accent">*</span>
        </p>
        <input
          type="text"
          class="w-full border border-[2px] border-light px-4 py-4 rounded-xl shadow border-gray-dark focus:outline-none focus:border-primary"
          placeholder="Enter your last name"
          required
          (input)="validateName()"
          [formControl]="lastNameControl"
        />
      </div>
    </div>

    <div>
      <p class="md:text-lg text-gray-dark mb-2">
        Email<span class="text-accent">*</span>
      </p>
      <input
        type="email"
        class="w-full border border-[2px] border-light px-4 py-4 rounded-xl shadow border-gray-dark focus:outline-none focus:border-primary"
        placeholder="Enter your email"
        required
        (input)="validateEmail()"
        [formControl]="emailControl"
      />

      <p class="md:text-lg text-gray-dark mt-4 md:mt-8 mb-2">
        Password<span class="text-accent">*</span>
      </p>
      <input
        type="password"
        class="w-full border border-[2px] border-light px-4 py-4 rounded-xl shadow border-gray-dark focus:outline-none focus:border-primary"
        placeholder="Enter your password"
        required
        minlength="8"
        (input)="validatePassword()"
        [formControl]="passwordControl"
      />
    </div>
    <button
      class="bg-primary text-dark font-semibold text-lg md:text-xl px-8 py-3 md:px-12 rounded-full hover:bg-dark hover:text-tertiary transition duration-300 ease-in-out"
      (click)="signUp()"
      [disabled]="isLoading"
      [ngClass]="{
        'opacity-50 hover:bg-primary hover:text-dark cursor-wait': isLoading
      }"
    >
      Sign Up
    </button>
    @if (snack[0]) {
    <div>
      @for (line of snack; track $index) {
      <p
        class="text-center text-sm text-gray-dark"
        [ngClass]="{
          'text-green-500': isSuccessfull,
          'text-red-500': !isSuccessfull
        }"
      >
        {{ line }}
      </p>
      }
    </div>
    }
  </div>
</main>
